<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="webbrowser_tab_test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <webbrowser_tab_test.My.MySettings>
            <setting name="se" serializeAs="String">
                <value />
            </setting>
            <setting name="google" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
            <setting name="bing" serializeAs="String">
                <value>https://www.bing.com/search?q=</value>
            </setting>
            <setting name="brave" serializeAs="String">
                <value>https://search.brave.com/search?q=</value>
            </setting>
        </webbrowser_tab_test.My.MySettings>
    </userSettings>
</configuration>